form {
    background-color: violet;
    width : 100px;
    height : 200px;
    border : 30px ridge red;
    border-radius: 10px;
    padding : 100px;
    margin : 100px;
    display : flex;
    flex-direction: column;
}
body {
    background-color : lightblue;
    display : flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-content: space-between; */
}